KUBE_NAMESPACE=default

# if using minio
APPYTER_DATA_DIR='s3://MINIO_BUCKET/#?client_kwargs.endpoint_url=MINIO_ENDPOINT&key=MINIO_KEY&secret=MINIO_SECRET'
# if using AWS S3
APPYTER_DATA_DIR='s3://S3_BUCKET/#?key=S3_KEY&secret=S3_SECRET'