python-dotenv
flask
gunicorn
numpy
pandas
ipython
requests
ipycytoscape
dash
dash_cytoscape
plotly
scikit-learn
igraph
leidenalg
scanpy
anndata
bokeh
selenium
Pillow
maayanlab-bioinformatics @ git+https://github.com/Maayanlab/maayanlab-bioinformatics
pydeseq2
fsspec==2022.1.0
werkzeug==2.0.3
appyter